div.gallery {
  margin: 3px;
  border: 1px solid #000000;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 180px;
  height: 180px;
}

div.desc {
  padding: 10px;
  text-align: center;
}